<ion-header>
    <ion-toolbar>
        <ion-title>
            Madplan
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="lunchPlans">
    <ion-card *ngFor="let lunchplan of lunchPlans" class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>uge nummer {{lunchplan.week}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>mandag : {{lunchplan.monday}}</p>
            <p>tirsdag : {{lunchplan.tuesday}}</p>
            <p>onsdag : {{lunchplan.wednesday}}</p>
            <p>torsdag : {{lunchplan.thursday}}</p>
            <p *ngIf="lunchplan.friday">fredag : {{lunchplan.friday}}</p>
        </ion-card-content>
        <ion-button shape="round" color="primary" fill="outline" (click)="edit(lunchplan)">rediger</ion-button>
    </ion-card>
</ion-content>